@charset "utf-8";

@use '../function'as *;
@use '../utility'as *;

html {}

html.is-menu_open {
	@include breakMax($breakTablet) {}
}

html.is-opening_ready {
	overflow: hidden !important;

	@include breakMin($breakTablet) {}
}

.g-body {
	background: $colorBg;
	color: $colorFont;

	@include breakMin($breakTablet) {}

	@include breakMin($breakTablet) {}

	@media print {
		background-image: none;
		background-color: #fff;
	}
}

.g-wrapper {
	overflow: hidden;

	@media print {}

	@include breakMin($breakTablet) {}
}

//* container
//* -------------------------------------------------- */
.g-container {
	min-height: calc(100vh - 50px);
	min-height: calc(100svh - 50px);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(1, 1fr);

	@include breakMin($breakTablet) {
		min-height: calc(100vh - 80px);
		min-height: calc(100svh - 80px);
	}
}

//* content
//* -------------------------------------------------- */
.g-content {
	padding-top: 60px;
	padding-bottom: 100px;

	@include breakMin($breakTablet) {
		padding-top: 120px;
		padding-bottom: 200px;
	}

	.c-hero+& {
		overflow: hidden;
		position: relative;
		// margin-top: 100vh;
		// margin-top: 100svh;
		background-color: $colorBg;
		z-index: 2;
	}
}

//* main
//* -------------------------------------------------- */
.g-main {

	@include breakMin($breakTablet) {}
}
