@charset "utf-8";

@use '../function'as *;

@for $i from 1 to 30 {
	.u-mg_t-#{$i * 10} {
		margin-top: 10px * $i;

		@include breakMax($breakTablet) {
			margin-top: 5px * $i;
		}
	}

	.u_m-mg_t-#{$i * 10} {
		@include breakMax($breakTablet) {
			margin-top: 10px * $i;
		}
	}

	.u-mg_b-#{$i * 10} {
		margin-bottom: 10px * $i;

		@include breakMax($breakTablet) {
			margin-bottom: 5px * $i;
		}
	}

	.u_m-mg_b-#{$i * 10} {
		@include breakMax($breakTablet) {
			margin-bottom: 10px * $i;
		}
	}

	.u-pd_t-#{$i * 10} {
		padding-top: 10px * $i;

		@include breakMax($breakTablet) {
			padding-top: 5px * $i;
		}
	}

	.u_m-pd_t-#{$i * 10} {
		@include breakMax($breakTablet) {
			padding-top: 10px * $i;
		}
	}

	.u-pd_b-#{$i * 10} {
		padding-bottom: 10px * $i;

		@include breakMax($breakTablet) {
			padding-bottom: 5px * $i;
		}
	}

	.u_m-pd_b-#{$i * 10} {
		@include breakMax($breakTablet) {
			padding-bottom: 10px * $i;
		}
	}
}
